body{
background-color: black;
}
.tag{
    color: red;
    text-align: center;
    margin: auto;
}
.box1{
    height: 250px;
    width: 100%;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('../../../assets/salatefrontlogo.png');
}

.box2{
    height: 800px;
   background-color: black
}
.box3{
    height: 400px;
   background-color: black
}