body{
background-color: black;
}
.tag{
    color: red;
    text-align: center;
    margin: auto;
}
.box1{
    height: 250px;
    width: 100%;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('../../../assets/salatefrontlogo.png');
}

.box2{
    height: 800px;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('../../../assets/leftsidebar.png');
}
.box3{
    height: 400px;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('../../../assets/mother.JPG');
    box-shadow: 10px 10px 5px black;
}
.box4{
    height: 400px;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('../../../assets/paris.jpg');
    box-shadow: 10px 10px 5px black;
}