
	#landing-area{
		width: 100vw;
		height: 100vh;
		display: flex;
		background-color: #333333;
	}

	#box-left{
		margin: 0;
		width: 45%;
		clip-path: polygon(0 0, calc(100% - 10vh) 0, 100% 100%, 0 100%);
		-webkit-clip-path: polygon(0 0, calc(100% - 10vh) 0, 100% 100%, 0 100%);
		margin-right: -4.2vh;
		padding: 5px 11vh 5px 5px;
		background-color: rgb(0, 0, 0);
		text-align: center;
	}
	#box-right{
		width: 50%;
		clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 10vh) 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 10vh) 100%);
		margin-left: -4.2vh;
		padding: 5px 5px 5px 11vh;
		background-color: rgb(255, 255, 255);
		text-align: center;
	}

#top{
	position: absolute;
	height: 50%;
	width:100%;
	background-color: white;
	margin: 0;
	padding: 2px;
}

#top-right{
	position: relative;
	height: 50%;
	width:100%;
	background-color: black;
	margin: 0;
	padding: 2px;
}